body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
	color: #000;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~this fixed width container surrounds the other divs~~ */
.container1 {
	width: auto;
	background-color: rgb(255, 255, 255);
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
    background-color: #ADB96E;
    
}

.content {

	padding: 10px 0;
	width: auto;
	margin: 0 auto;
}

/* ~~ The footer ~~ */
.footer {
	background-color: #CCC49F;
	position: absolute;
	bottom:0;
	width: 100%;
	
}
fieldset{
	border: 1px dotted rgb(0, 0, 0);
	margin: 0px auto;
	width: 400px;
	float: center;
  }
h2 {
	text-align: center;
}
h3{
	margin-left:10px;
}
.makePSmaller{
	width:800px;
	margin-left: 10px;
}
